@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(209, 166, 194);
    background: linear-gradient(90deg, rgba(209, 166, 194, 1) 50%, rgba(183, 234, 243, 1) 100%);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.signup-form{

}